:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: rgb(42, 35, 83);
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --darkgray: rgb(78, 78, 78);
    --lightgray: rgb(105, 105, 105);
    --lightprimario:rgb(117, 101, 194);
    --green: rgb(67, 198, 96);
}

.general-container{
  top:20%;
  left:50%;
  position:absolute;
  display:  block;
  transform: translate(-50%);
  box-sizing: border-box;
  font-family: var(--fuenteParrafos);
}

.article{
  margin-top: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 1000px;
  height: 250px;


  background-color:white;
  padding: 100px;
}
.article .title {
  text-align: center;
}
.article .img {
  text-align: center;
}
.article .info {
  text-align: center;

}
.info .date {
  padding-right: 10px;
}
.body {
  top:100%;
  left:50%;
  position:absolute;
  display:  block;
  transform: translate(-50%);

  width: 1000px;
  padding: 75px;
  background-color: white;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.tag {
text-align: center;
margin-left: 300px;
width:200px;
color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 20px;
padding-left: 20px;
border-radius: 50px;
font-weight: bold;
text-decoration: none;
display: block;
}
.date {
  text-align: center;
  margin-left: 300px;
  width:200px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 50px;
  font-weight: bold;
}
.img  img{
  max-width:800px;
  max-height:800px;
  width:auto;
  height:auto;
  border-radius:15px;
}
