:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: rgb(42, 35, 83);
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --darkgray: rgb(78, 78, 78);
    --lightgray: rgb(105, 105, 105);
    --lightprimario:rgb(117, 101, 194);
    --green: rgb(67, 198, 96);
}

.general-container{
  top:20%;
  left:50%;
  position:absolute;
  display:  block;
  transform: translate(-50%);
  box-sizing: border-box;
  font-family: var(--fuenteParrafos);
}

.article{
  width: 500px;
  height: 500px;
  margin-top:100px;
  margin-bottom:100px;
  background-color:white;
}
.tag {
color:black;
}
.img {
  width: 500px;
  height: 500px;
}
