:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: rgb(42,35,83);
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --darkgray: rgb(78,78,78);
    --lightgray: rgb(105,105,105);
    --lightprimario:rgb(117,101,194);
    --green:rgb(67,198,96);

}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: var(--fuenteParrafos);
}
/*configuraciones para el texto del encabezado*/
.title {
  padding-top: 125px;
  padding-bottom: 25px;
  text-align: center;
  font-family: var(--fuenteHeading);
}
/*configuracion titulo*/
.title h1 {
 color:white;
 font-size: 50px;
 text-shadow: #474747 3px 5px 2px, 40px 28px 20px rgba(0,0,0,0);
font-weight: 750;
}
/*--------------------*/
/*-------------------------------------------*/
.general-container {
 top:0;
 left:0;
 padding-top: 25px;
}
.article {
 width:1000px;
 height:450px;
 background:white;
 top:25%;
 left:50%;
 position:absolute;
 display:  flex;
 transform: translate(-50%);
 border-radius:25px;

 box-shadow: -2px 0px 16px 1px #424949;
 -webkit-box-shadow: -2px 0px 16px 1px #424949;
 -moz-box-shadow: -2px 0px 16px 1px #424949;
}
.left-side {
 text-align:center;
 width:500px;
 height:450px;
}
.left-side img {
 max-width:450px;
 max-height:400px;
 width:auto;
 height:auto;
 border-radius:15px;
 margin:25px;
}
.right-side {
 width:500px;
 height:450px;
}
.right-side h2{
 padding-top:20px;
 padding-bottom:20px;
 text-align:center;

}
.right-side p{
 padding-left:45px;
 padding-right:45px;
 text-align:justify;
 font-size:12.5px;
}
.right-side div {
 width:300px;
 position:absolute;
 margin-top:100px;
 margin-left:100px;
}
.right-side div  h5{
 text-align:center;
}
